.currentLocationMainElements {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px 0px 25px 0px;
}

.currentLocationShowTitle {
  font-size: 50px;
  margin-bottom: 25px;
  text-align: center;
}

.currentLocationTempAndDescriptionSection {
  display: flex;
  flex-direction: row;
}

.currentLocationShowTemp {
  width: 200px;
  height: 30px;
  text-align: center;
}

.currentLocationShowDescription {
  width: 200px;
  height: 30px;
  text-align: center;
}

.currentLocationWeatherIcon {
  text-align: center;
  width: 100px;
}

.currentWeatherSection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.currentWeatherContainer {
  width: 1200px;
  margin: 15px;
}

.currentWeatherMainOutput {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.currentWeatherOutputModule {
  margin: 0px 20px 0px 20px;
  width: 80px;
  height: 50px;
  line-height: 20px;
  text-align: center;
}

.forecastTitleSection {
  margin: 25px 0px 25px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fiveDayForecastTitleText {
  font-size: 30px;
}

.forecastSection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.forecastSectionMain {
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.forecastOutputContainers {
  margin: 25px 10px 0px 10px;
  padding: 15px;
  width: 180px;
  border: 1px solid rgb(146, 146, 146);
  height: 200px;
  display: flex;
  flex-direction: column;
}

.forecastOutputContainersMainInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 0px 15px 0px;
}

.previousSearchesTitleSection {
  margin: 25px 0px 0px 0px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previousSearchesTitleText {
  margin: 25px 0px 0px 0px;
  font-size: 30px;
}

.previousSearches {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previousSearchesSection {
  display: flex;
  flex-direction: row;
}

.previousSearch {
  width: 100px;
  height: 30px;
  text-align: center;
}

.backButtonSection {
  width: 100%;
  display: flex;
  justify-content: center;
}
